*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: floralwhite;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li:after{
    content: '';
    width: 0%;
    height: 2px;
    background:#f44336;
    display:block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%
}
.text-box{
    width:90%;
    color: floralwhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 65px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white
}
.abc{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.abc:hover{
    border: 1px solid skyblue;
    background: skyblue;
    transition: 1s
}

.生平{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.行列{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.生平-格子{
    flex-basis: 33%;
    background: #f5d5d5;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h2{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.生平-格子:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.2)
}

.后世影响{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.后世影响-格子{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.后世影响-格子 img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.layer:hover{
    background: #ef8397;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 20px;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: .5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.争议{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.争议-格子{
    flex-basis: 39%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.争议-格子 img{
    width: 100%;
    border-radius: 10px;
}

.争议-格子 p{
    padding: 0;
}
.争议-格子 h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.奖项{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.奖项-格子{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff4f4;
    padding: 20px;
    cursor: pointer;
    display: flex;
}
.奖项-格子 img{
    height: 40px;
    margin-left: 5px;
    margin-right: 35px;
    border-radius: 60%;
}
.奖项-格子 p{
    padding: 0;
}
.奖项-格子 h3{
    margin-top: 15px;
    text-align: left;
}
.家庭{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.家庭-格子{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: skyblue;
    padding: 20px;
    cursor: pointer;
    display: flex;
}
.家庭-格子 img{
    height: 40px;
    margin-left: 5px;
    margin-right: 35px;
    border-radius: 60%;
}
.家庭-格子 p{
    padding: 0;
}
.家庭-格子 h3{
    margin-top: 15px;
    text-align: left;